# {{ ansible_managed}}

# Don't poll /etc/resolv.conf for changes
no-poll
# Don't read /etc/resolv.conf
no-resolv
# Only accept queries from local IPs
local-service
# Never forward queries for plain names, without dots or domain parts, to upstream nameservers
domain-needed
# Bogus private reverse lookups. All reverse lookups for private IP ranges (ie 192.168.x.x, etc) which are not found in /etc/hosts or the DHCP leases file are answered with "no such domain" rather than being forwarded upstream
bogus-priv

# Specify other DNS servers for queries not handled by internal DNSs
server=8.8.8.8
server=4.4.4.4

# Queries in these domains are answered from /etc/hosts or DHCP only.
#local=/{{ dnsmasq_domain_local }}/

# Allows DHCP hosts to have FQDN, provides the domain part for "expand-hosts"
#domain=/{{ dnsmasq_domain }}/

# Increase the size of dnsmasq's cache
cache-size=9000
clear-on-reload

# Wilcard subdomain record
address=/{{ dnsmasq_domain_local }}/{{ vars_common_all_proxy_ipv4 }}

# Ignore internet paths
server=/docs.jamfox.dev/#
server=/brain.jamfox.dev/#
server=/valheim.jamfox.dev/#
server=/vpn.jamfox.dev/#

# Host records
{% for host in groups['all'] if host != 'localhost' %}
address=/{{ hostvars[host].inventory_hostname }}.{{ dnsmasq_domain }}/{{ hostvars[host].ansible_host }}
{% endfor %}

# Custom records, to support multiple fixed IP
addn-hosts=/etc/hosts.jamfox.dev

# Enable reverse DNS lookups for the netblock
rev-server={{ vars_common_all_default_netblock }},127.0.0.1#{{ var_common_all_consul_dns_port }}

# Enable forward lookup of the 'consul' domain to consul server instances
{% for host in groups['vb'] %}
server=/consul/{{ hostvars[host].ansible_host }}#{{ var_common_all_consul_dns_port }}
{% endfor %}
