# {{ ansible_managed }}
global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        timeout http-request 1000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

resolvers jamlab-dns
    nameserver dns0 {{ vars_common_all_dns_ipv4 }}:{{ vars_common_all_dns_default_port }}
    accepted_payload_size 8192

frontend stats
   bind *:1936
   mode http
   stats uri /
   stats show-legends
   no log

frontend prometheus
  bind :8405
  mode http
  http-request use-service prometheus-exporter
  no log

frontend http-in
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }

frontend https-in
    bind *:443 ssl crt /etc/letsencrypt/live/{{ haproxy_domain }}/haproxy.pem
    mode http
    log global
    option http-keep-alive
    option forwardfor
    acl https ssl_fc
    http-request set-header X-Forwarded-Proto http if !https
    http-request set-header X-Forwarded-Proto https if https
    timeout client 30000

    acl haproxy-acl hdr(host) -i haproxy.jamfox.dev
    use_backend haproxy-stats if haproxy-acl

    acl portainer hdr(host) -i port.jamfox.dev
    use_backend portainer if portainer

    acl grafana-acl hdr(host) -i grafana.jamfox.dev
    use_backend grafana if grafana-acl

    acl actual-acl hdr(host) -i actual.jamfox.dev
    use_backend actual if actual-acl
    acl budget-acl hdr(host) -i budget.jamfox.dev
    use_backend actual if budget-acl

    acl prometheus-acl hdr(host) -i prometheus.jamfox.dev
    use_backend prometheus if prometheus-acl

    acl alertmanager-acl hdr(host) -i alertmanager.jamfox.dev
    use_backend alertmanager if alertmanager-acl
    
    acl octoprint-acl hdr(host) -i octoprint.jamfox.dev
    use_backend octoprint if octoprint-acl
    
    acl nas-acl hdr(host) -i nas.jamfox.dev
    use_backend nas if nas-acl

    acl file-acl hdr(host) -i file.jamfox.dev
    use_backend file if file-acl

    acl note-acl hdr(host) -i note.jamfox.dev
    use_backend note if note-acl

    acl sso-acl hdr(host) -i sso.jamfox.dev
    use_backend sso if sso-acl
    
    acl drive-acl hdr(host) -i drive.jamfox.dev
    use_backend drive if drive-acl

    acl photo-acl hdr(host) -i photo.jamfox.dev
    use_backend photo if photo-acl

    acl video-acl hdr(host) -i video.jamfox.dev
    use_backend video if video-acl

    acl fabio hdr(host) -i fabio.jamfox.dev
    use_backend fabio-hosts if fabio

    default_backend nomad-lbs

backend haproxy-stats
    server haproxy-stats 127.0.0.1:1936

backend portainer
    server portainer 192.168.10.111:9443 check ssl verify none

backend actual
    server actual 192.168.10.111:5006 check ssl verify none

backend grafana
    server grafana 192.168.10.50:3000

backend prometheus
    server prometheus 192.168.10.50:9090

backend alertmanager
    server alertmanager 192.168.10.50:9093

backend fabio-hosts
    balance leastconn
    server-template fabio {{ groups['vs'] | length }} fabio.service.consul:9998 check resolvers jamlab-dns init-addr none

backend nomad-lbs
    balance roundrobin
    server-template web {{ groups['vs'] | length }} fabio.service.consul:9999 check resolvers jamlab-dns init-addr none

backend octoprint
    server octoprint 192.168.10.53:443 check ssl verify none

backend nas
    option forwardfor
    server nas 192.168.10.66:5001 check ssl verify none

backend file
    option forwardfor
    server file 192.168.10.66:7001 check ssl verify none

backend note
    option forwardfor
    server note 192.168.10.66:9351 check ssl verify none

backend sso
    option forwardfor
    server sso 192.168.10.66:8843 check ssl verify none

backend drive
    option forwardfor
    server drive 192.168.10.66:10003 check ssl verify none

backend photo
    option forwardfor
    server photo 192.168.10.66:5443 check ssl verify none

backend video
    option forwardfor
    server video 192.168.10.66:9008 check ssl verify none