#!/bin/bash
# {{ ansible_managed }}

# Script to run after certbot renewal service

cat /etc/letsencrypt/live/{{ haproxy_domain }}/cert.pem /etc/letsencrypt/live/{{ haproxy_domain }}/privkey.pem > /etc/letsencrypt/live/{{ haproxy_domain }}/haproxy.pem
systemctl restart haproxy
