# {{ ansible_managed }}

{% set unique_items = [] %}
{% for user in users %}
{% if user.sudo is defined %}
{% if user.sudo not in unique_items %}
{{ user.sudo }}
{% set _ = unique_items.append(user.sudo) %}
{% endif %}
{% endif %}
{% endfor %}
